@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/roboto.woff2"), url("../fonts/roboto.woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/robotomedium.woff2"), url("../fonts/robotomedium.woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/robotobold.woff2"), url("../fonts/robotobold.woff");
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;

  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  pointer-events: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.btn {
  font-family: "Roboto", "Arial", sans-serif;

  display: block;

  cursor: pointer;
  user-select: none;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
}

.btn--red {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #fff;
  background-color: #fb565a;
}

.btn--red:hover {
  background-color: #e74246;
}

.btn--red:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #eee;
}

.header__wrapper {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 160px;
  height: 65px;

  user-select: none;
}

.header__logo:hover:not(.header__logo--index) {
  opacity: 0.8;
}

.header__logo:active:not(.header__logo--index) {
  opacity: 0.3;
}

.nav {
  width: 291px;
}

.nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav__item--active {
  border-bottom: 2px solid #fb565a;
}

.header__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

  text-transform: uppercase;

  color: #000;
}

.header__link:hover:not(span) {
  color: #fb565a;
}

.header__link:active:not(span) {
  opacity: 0.3;
  color: #000;
}

.header__basket {
  width: 41px;
}

.header__basket svg {
  display: block;

  user-select: none;

  fill: #a6a6a6;
}

.preview {
  background-color: #eee;
}

.catalog-lead {
  background-color: #eee;
}

.preview__wrapper {
  background-repeat: no-repeat;
  background-position: right 0;
}

.preview__wrapper--1 {
  background-image: url(../img/slide1-desktop@1x.png);
}

.preview__wrapper--2 {
  background-image: url(../img/slide2-desktop@1x.png);
}

.preview__wrapper--3 {
  background-image: url(../img/slide3-desktop@1x.png);
}

.preview__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  color: #000;
}

.preview__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #283136;
}

.slider__btn {
  width: 240px;
}

.swiper-slide {
  background-color: #eee;
}

.catalog-lead {
  background-color: #eee;
}

.catalog-lead__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  color: #000;
}

.services__list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.services__item {
  margin-right: 100px;

  flex-basis: 300px;
}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.services__item::before {
  display: block;

  width: 300px;
  height: 146px;

  content: "";

  background-repeat: no-repeat;
}

.services__item--web::before {
  background-image: url(../img/services-web-sites-desktop@1x.png);
}

.services__item--app::before {
  background-image: url(../img/services-app-desktop@1x.png);
}

.services__item--pres::before {
  background-image: url(../img/services-presentation-desktop@1x.png);
}

.services__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;

  color: #000;
}

.services__content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #283136;
}

.services__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  width: 160px;

  color: #fff;
}

.services__link--green {
  background-color: #00ca74;
}

.services__link--green:hover {
  background-color: #00bc6c;
}

.services__link--green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.services__link--yellow {
  background-color: #efc84a;
}

.services__link--yellow:hover {
  background-color: #eab534;
}

.services__link--yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.about__wrapper {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-end;
}

.about__content {
  width: 660px;
}

.about__intro {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  color: #000;
}

.about__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #283136;
}

.about__sked {
  font-weight: 700;

  text-transform: uppercase;

  color: #000;
}

.about__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #283136;
}

.about__statistics {
  width: 360px;
}

.table__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  text-transform: uppercase;

  color: #000;
}

.table__row--1 {
  font-size: 45px;
  font-weight: 700;

  color: #000;
}

.table__row--2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #283136;
}

.filter__title,
.sort__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;

  color: #000;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  color: #283136;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover,
input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
  color: #283136;
}

input[type="radio"]:active,
input[type="checkbox"]:active,
input[type="radio"] + label:active,
input[type="checkbox"] + label:active {
  opacity: 0.3;
}

.filter__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #000;
  background-color: #eee;
}

.filter__btn:hover {
  background-color: #dfdfdf;
}

.filter__btn:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.sort__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  opacity: 0.3;
  color: #000;
}

.sort__button--active {
  opacity: 1;
}

.product {
  margin-right: 40px;
  margin-bottom: 33px;

  flex-basis: 360px;
}

.product:nth-child(2n) {
  margin-right: 0;
}

.product::before {
  display: block;

  width: 360px;
  height: 40px;

  content: "";

  opacity: 0.12;
  background-image: url(../img/browser.svg);
}

.product:hover::before {
  opacity: 1;
}

.product:hover .product__content {
  display: block;
}

.product__content {
  display: none;

  background-color: #eee;
}

.product__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;

  color: #000;
}

.product__title:hover {
  color: #fb565a;
}

.product__title:active {
  opacity: 0.3;
  color: #000;
}

.product__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #666;
}

.partners__list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;

  justify-content: space-around;
  align-items: center;
}

.partners__link {
  display: block;

  opacity: 0.2;
}

.partners__link:hover {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}

.search__wrapper {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-start;
}

.filter {
  width: 260px;
}

.gallery {
  width: 760px;
}

.gallery__list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.pagination__item {
  background-color: #eee;
}

.pagination__item--active {
  border: 3px solid #dbdbdb;
  background-color: #fff;
}

.pagination__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #000;
}

.contacts {
  background-color: #e9e5dc;
}

.contacts__content {
  width: 320px;

  background-color: #fff;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;

  color: #000;
}

.contacts__field {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #666;
}

.contacts__btn {
  width: 219px;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;
}

.social {
  width: 260px;
  margin: 0;
  margin-right: 139px;
  padding: 0;

  list-style: none;
}

.social__item {
  background-color: #e1e1e1;
}

.social__item:hover {
  background-color: #e74246;
}

.social__item:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social__link svg {
  display: block;

  user-select: none;

  fill: #fff;
}

.social__item:active svg {
  opacity: 0.3;
}

.footer__appeal {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  color: #000;
}

.footer__discount {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  color: #444;
}

.modal {
  display: none;
}

.modal-overlay {
  display: none;
}
