@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/roboto.woff2"), url("../fonts/roboto.woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/robotomedium.woff2"), url("../fonts/robotomedium.woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/robotobold.woff2"), url("../fonts/robotobold.woff");
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;

  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  pointer-events: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

/*  */

.btn-res {
  font: inherit;

  padding: 0;

  cursor: pointer;

  color: inherit;
  border: none;
  background-color: transparent;
}

.btn {
  display: block;
  overflow: hidden;

  user-select: none;
  transition: background-color 0.5s ease;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: 1px solid transparent;
  border-radius: 0.1em;
  background-color: #fb565a;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.btn.disabled,
.btn:disabled {
  cursor: default;

  opacity: 0.5;
  background-color: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #eee;
}

.header__logo {
  width: 160px;
  height: 65px;

  user-select: none;
  transition: opacity 0.5s ease;
}

.header__logo:hover:not(.header__logo--index) {
  opacity: 0.8;
}

.header__logo:active:not(.header__logo--index) {
  opacity: 0.3;
}

.nav {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  padding-top: 49px;
  padding-bottom: 19px;

  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.nav__list {
  display: flex;
  flex-direction: row;

  width: 440px;
  margin: 0;
  margin-right: 43px;
  padding: 0;

  list-style: none;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: 46px;
  margin-bottom: 4px;

  border-bottom: 2px solid transparent;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item--active {
  border-bottom: 2px solid #fb565a;
}

.header__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

  display: block;

  padding: 3px 0;

  transition: color 0.5s ease;
  text-transform: uppercase;

  color: #000;
}

.header__link:hover:not(span) {
  color: #fb565a;
}

.header__link:active:not(span) {
  opacity: 0.3;
  color: #000;
}

.header__link--basket {
  position: relative;

  max-width: 240px;
  margin-bottom: 4px;
  padding: 4px 0;
  padding-left: 40px;
}

.header__link--basket svg {
  position: absolute;
  top: 10px;
  left: 0;

  user-select: none;

  fill: #a6a6a6;
}

.preview {
  background-color: #eee;
}

.catalog-lead {
  background-color: #eee;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  box-sizing: border-box;

  background-color: #eee;
}

.swiper-slide {
  visibility: hidden;
}

.swiper-slide.swiper-slide-active {
  visibility: visible;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  right: 0;
  bottom: 50px;
  bottom: 88px;
  left: 0;

  width: 120px;
  margin: auto;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.swiper-pagination-bullet {
  width: 19px;
  height: 19px;

  opacity: 1;
  background: #fff;
}

.swiper-pagination-bullet:focus {
  outline: none;
  box-shadow: 0 0 0 1px #b6cdf0, 0 0 0 3px #649af2, 0 0 0 4px #b6cdf0;
}

.swiper-pagination-bullet-active {
  position: relative;
}

.swiper-pagination-bullet-active::before {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 8px;
  height: 8px;
  margin: auto;

  content: "";

  border: 2px solid #c1c1c1;
  border-radius: 50%;
  background-color: inherit;
}

.preview__wrapper {
  padding-top: 59px;
  padding-bottom: 80px;

  background-repeat: no-repeat;
  background-position: right 32px bottom;
}

.preview__wrapper--1 {
  background-image: url("../img/files/slide1-desktop@1x.png");
}

.preview__wrapper--2 {
  background-image: url("../img/files/slide2-desktop@1x.png");
}

.preview__wrapper--3 {
  background-image: url("../img/files/slide3-desktop@1x.png");
}

.preview__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  max-width: 617px;
  margin: 0;
  margin-bottom: 26px;

  color: #000;
}

.preview__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  max-width: 438px;
  margin: 0;
  margin-bottom: 39px;

  color: #283136;
}

.slider__btn {
  width: 240px;
  padding: 0.8em 1em 0.7em;
}

.catalog-lead {
  background-color: #eee;
}

.catalog-lead__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;

  color: #000;
}

.services {
  padding-top: 80px;
  padding-bottom: 30px;

  border-bottom: 2px solid #eee;
}

.services__list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.services__item {
  margin-right: 100px;
  margin-bottom: 50px;

  flex-basis: 300px;
}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.services__item::before {
  display: block;

  width: 300px;
  height: 146px;
  margin-bottom: 25px;

  content: "";

  background-repeat: no-repeat;
}

.services__item--web::before {
  background-image: url("../img/files/services-web-sites-desktop@1x.png");
}

.services__item--app::before {
  background-image: url("../img/files/services-app-desktop@1x.png");
}

.services__item--pres::before {
  background-image: url("../img/files/services-presentation-desktop@1x.png");
}

.services__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;
  margin-bottom: 15px;

  text-transform: uppercase;

  color: #000;
}

.services__content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  max-width: 281px;
  margin: 0;
  margin-bottom: 33px;

  color: #283136;
}

.services__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  width: 160px;
  padding: 1em 1em 0.9em;

  color: #fff;
}

.services__link--green {
  transition: background-color 0.5s ease;

  background-color: #00ca74;
}

.services__link--green:hover {
  background-color: #00bc6c;
}

.services__link--green:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.services__link--yellow {
  transition: background-color 0.5s ease;

  background-color: #efc84a;
}

.services__link--yellow:hover {
  background-color: #eab534;
}

.services__link--yellow:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.about__wrapper {
  display: flex;
  flex-direction: row;

  padding-top: 40px;
  padding-bottom: 73px;

  justify-content: space-between;
  /* align-items: flex-end; */
}

.about__content {
  width: 660px;
  padding-top: 35px;
}

.about__intro {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;

  display: block;

  margin-bottom: 32px;

  color: #000;
}

.about__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  margin: 0;
  margin-bottom: 40px;

  color: #283136;
}

.about__sked {
  font-weight: 700;

  margin: 0;
  margin-bottom: 23px;

  text-transform: uppercase;

  color: #000;
}

.about__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  position: relative;

  margin-bottom: 24px;
  padding-left: 35px;

  color: #283136;
}

.about__item:last-child {
  margin-bottom: 0;
}

.about__item::before {
  position: absolute;
  top: 11px;
  left: 0;

  width: 25px;
  height: 2px;

  content: "";

  background-color: #fb565a;
}

.about__statistics {
  width: 360px;
}

.about__logo {
  margin-bottom: 30px;
}

.table {
  border-collapse: collapse;
}

.table__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  margin-bottom: 19px;

  text-transform: uppercase;

  color: #000;
}

.table__row--1 {
  font-size: 45px;
  font-weight: 700;

  color: #000;
}

.table__row--2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #283136;
}

.table__column {
  width: 200px;
  padding-top: 8px;
}

.percent {
  font-size: 27px;
}

.sort {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.sort__wrapper {
  display: flex;
  flex-direction: row;

  width: 360px;

  justify-content: space-between;
  align-items: center;
}

.filter-form__fieldset {
  border: none;
}

.filter-form__legend,
.sort__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  text-transform: uppercase;

  color: #000;
}

.sort__title {
  flex-basis: 360px;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  transition: color 0.5s ease;

  color: #283136;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover,
input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
  color: #283136;
}

input[type="radio"]:active,
input[type="checkbox"]:active,
input[type="radio"] + label:active,
input[type="checkbox"] + label:active {
  opacity: 0.3;
}

.filter-form__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  transition: background-color 0.5s ease;

  color: #000;
  background-color: #eee;
}

.filter-form__btn:hover {
  background-color: #dfdfdf;
}

.filter-form__btn:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.sort__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  transition: opacity 0.5s ease;

  opacity: 0.3;
  color: #000;
}

.sort__button:hover:not(.sort__button--active) {
  opacity: 0.6;
}

.sort__button:active:not(.sort__button--active) {
  opacity: 1;
}

.sort__button--active {
  opacity: 1;
}

.sort__control {
  transition: opacity 0.5s ease;

  opacity: 0.3;
  color: #000;
}

.sort__control:hover:not(.sort__control--active) {
  opacity: 0.6;
}

.sort__control:active:not(.sort__control--active) {
  opacity: 1;
}

.sort__control--active {
  opacity: 1;
}

.product {
  display: flex;
  flex-direction: column;

  margin-right: 40px;
  margin-bottom: 33px;

  justify-content: flex-start;
  align-items: stretch;
  flex-basis: 360px;
}

.product:nth-child(2n) {
  margin-right: 0;
}

.product::before {
  display: block;

  width: 360px;
  height: 40px;

  content: "";
  transition: opacity 0.5s ease;

  opacity: 0.12;
  background-image: url("../img/browser.svg");
}

.product:hover::before {
  opacity: 1;
}

.product:hover .product__content {
  display: block;
}

.product__content {
  display: none;

  background-color: #eee;

  order: 2;
}

.product__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  transition: color 0.5s ease;
  text-transform: uppercase;

  color: #000;
}

.product__title:hover {
  color: #fb565a;
}

.product__title:active {
  opacity: 0.3;
  color: #000;
}

.product__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  color: #666;
}

.partners {
  padding-bottom: 80px;
}

.partners__list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.partners__item {
  position: relative;

  width: 261px;
  height: 180px;
  margin-right: 38px;
}

.partners__item::after {
  position: absolute;
  top: 64px;
  right: -21px;

  width: 2px;
  height: 52px;

  content: "";

  background-color: #eee;
}

.partners__item:nth-child(4n) {
  margin-right: 0;
}

.partners__item:nth-child(4n)::after {
  display: none;
}

.partners__link {
  display: block;

  margin: auto;
  padding: 45px 27px;

  transition: opacity 0.5s ease;

  opacity: 0.2;
}

.partners__link:hover {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}

.search__wrapper {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-start;
}

.filter-form {
  width: 260px;
}

.gallery {
  width: 760px;
}

.gallery__list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  flex-direction: row;

  width: 445px;

  justify-content: space-between;
  align-items: center;
}

.pagination__list {
  display: flex;
  flex-direction: row;

  width: 172px;
  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: space-between;
  align-items: center;
}

.pagination__item {
  width: 50px;

  transition: background-color 0.5s ease;

  background-color: #eee;
}

.pagination__item:hover:not(.pagination__item--active) {
  background-color: #dfdfdf;
}

.pagination__item:active:not(.pagination__item--active) {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination__item--active {
  border: 3px solid #dbdbdb;
  background-color: #fff;
}

.pagination__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  color: #000;
}

.pagination__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;

  width: 260px;

  transition: background-color 0.5s ease;

  color: #000;
  background-color: #eee;
}

.pagination__btn:hover:not(.pagination__btn--active) {
  background-color: #dfdfdf;
}

.pagination__btn:active:not(.pagination__btn--active) {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.contacts {
  position: relative;

  background-color: #e9e5dc;
}

.contacts__map {
  height: 416px;

  text-align: center;
}

.contacts__content {
  position: absolute;
  top: 54px;

  width: 320px;
  padding: 49px 50px;

  background-color: #fff;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;
  margin-bottom: 23px;

  text-transform: uppercase;

  color: #000;
}

.contacts__field {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  margin-bottom: 18px;

  color: #666;
}

.contacts__btn {
  width: 219px;
  margin-top: 36px;
  padding: 0.8em 1em 0.7em;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;

  padding-top: 69px;
  padding-bottom: 69px;

  justify-content: flex-start;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;

  width: 261px;
  margin: 0;
  margin-right: 139px;
  padding: 0;

  list-style: none;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 12px;
  /* margin-bottom: 12px; */
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__item:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.social__link {
  display: flex;

  width: 79px;
  height: 79px;

  transition: background-color 0.5s ease;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social__link:hover {
  background-color: #e74246;
}

.social__link svg {
  margin: auto;

  user-select: none;

  fill: #fff;
}

.social__link:active svg {
  opacity: 0.3;
}

.footer__appeal {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;

  display: block;

  margin-bottom: 10px;

  color: #000;
}

.footer__discount {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  margin: 0;

  color: #444;
}

.modal {
  display: none;
}

.modal-overlay {
  display: none;
}
