@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/roboto.woff2"), url("../fonts/roboto.woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/robotomedium.woff2"), url("../fonts/robotomedium.woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/robotobold.woff2"), url("../fonts/robotobold.woff");
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;

  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.btn {
  display: block;
  user-select: none;
  cursor: pointer;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.nav__link {
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.header__basket {
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-title {
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.services__title {
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.services__content {
  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.services__link {
  color: #ffffff;
}

.filter__title {
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.filter__btn {
  color: #000000;
}

.product__title {
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.product__description {
  color: #666666;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.product__link {
  color: #ffffff;
}

.footer__appeal {
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer__discount {
  color: #444444;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
